@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

button {
  color: black;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.gradient-border {
  padding: 10px 20px;
  font-size: 16px;
  color: black; /* Text color */
  font-weight: 500;
  background-color: transparent; /* Button background color */
  border: 2px solid transparent;
  /* Define the gradient as border image */
  border-image-source: linear-gradient(106.29deg, #2e7cf6 0%, #00f0ff 100%);
  border-image-slice: 1;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 4px;
  /* Optional: Adding some hover effect */
}

.gradient-border:hover {
  background-color: #079cd9; /* Color changes on hover */
  color: white; /* Text color changes on hover */
}
